=begin
#phishingapi

#Easily and directly scan and block phishing security threats in input.

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.14

=end

require 'uri'

module CloudmersivePhishingDetectionApiClient
  class PhishingDetectionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Perform advanced AI phishing detection and classification against input email.  Analyzes input email as well as embedded URLs with AI deep learning to detect phishing, phishing and other unsafe content.  Uses 25-100 API calls depending on model selected.
    # @param [Hash] opts the optional parameters
    # @option opts [AdvancedEmailDetectionRequest] :body Phishing detection request
    # @return [PhishingDetectionEmailAdvancedResponse]
    def phishing_detect_email_advanced_post(opts = {})
      data, _status_code, _headers = phishing_detect_email_advanced_post_with_http_info(opts)
      data
    end

    # Perform advanced AI phishing detection and classification against input email.  Analyzes input email as well as embedded URLs with AI deep learning to detect phishing, phishing and other unsafe content.  Uses 25-100 API calls depending on model selected.
    # @param [Hash] opts the optional parameters
    # @option opts [AdvancedEmailDetectionRequest] :body Phishing detection request
    # @return [Array<(PhishingDetectionEmailAdvancedResponse, Fixnum, Hash)>] PhishingDetectionEmailAdvancedResponse data, response status code and response headers
    def phishing_detect_email_advanced_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhishingDetectionApi.phishing_detect_email_advanced_post ...'
      end
      # resource path
      local_var_path = '/phishing/detect/email/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PhishingDetectionEmailAdvancedResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhishingDetectionApi#phishing_detect_email_advanced_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Perform advanced AI phishing detection and classification against input text string.  Analyzes input content as well as embedded URLs with AI deep learning to detect phishing, phishing and other unsafe content.  Uses 25-100 API calls depending on model selected.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model  (default to Advanced)
    # @option opts [File] :input_file 
    # @return [PhishingDetectionAdvancedResponse]
    def phishing_detect_file_advanced_post(opts = {})
      data, _status_code, _headers = phishing_detect_file_advanced_post_with_http_info(opts)
      data
    end

    # Perform advanced AI phishing detection and classification against input text string.  Analyzes input content as well as embedded URLs with AI deep learning to detect phishing, phishing and other unsafe content.  Uses 25-100 API calls depending on model selected.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model 
    # @option opts [File] :input_file 
    # @return [Array<(PhishingDetectionAdvancedResponse, Fixnum, Hash)>] PhishingDetectionAdvancedResponse data, response status code and response headers
    def phishing_detect_file_advanced_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhishingDetectionApi.phishing_detect_file_advanced_post ...'
      end
      # resource path
      local_var_path = '/phishing/detect/file/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?

      # form parameters
      form_params = {}
      form_params['inputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PhishingDetectionAdvancedResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhishingDetectionApi#phishing_detect_file_advanced_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Perform AI phishing detection and classification on an input image or document (PDF or DOCX).  Analyzes input content as well as embedded URLs with AI deep learnign to detect phishing and other unsafe content.  Uses 100-125 API calls depending on model selected.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model Model to use; default setting is Advanced (default to Advanced)
    # @option opts [File] :input_file 
    # @return [PhishingDetectionResponse]
    def phishing_detect_file_post(opts = {})
      data, _status_code, _headers = phishing_detect_file_post_with_http_info(opts)
      data
    end

    # Perform AI phishing detection and classification on an input image or document (PDF or DOCX).  Analyzes input content as well as embedded URLs with AI deep learnign to detect phishing and other unsafe content.  Uses 100-125 API calls depending on model selected.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :model Model to use; default setting is Advanced
    # @option opts [File] :input_file 
    # @return [Array<(PhishingDetectionResponse, Fixnum, Hash)>] PhishingDetectionResponse data, response status code and response headers
    def phishing_detect_file_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhishingDetectionApi.phishing_detect_file_post ...'
      end
      # resource path
      local_var_path = '/phishing/detect/file'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])
      header_params[:'model'] = opts[:'model'] if !opts[:'model'].nil?

      # form parameters
      form_params = {}
      form_params['inputFile'] = opts[:'input_file'] if !opts[:'input_file'].nil?

      # http body (model)
      post_body = nil
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PhishingDetectionResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhishingDetectionApi#phishing_detect_file_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Perform advanced AI phishing detection and classification against input text string.  Analyzes input content as well as embedded URLs with AI deep learnign to detect spam, phishing and other unsafe content.  Uses 25-100 API calls depending on model selected.
    # @param [Hash] opts the optional parameters
    # @option opts [PhishingDetectionAdvancedRequest] :body Phishing detection request
    # @return [PhishingDetectionAdvancedResponse]
    def phishing_detect_text_string_advanced_post(opts = {})
      data, _status_code, _headers = phishing_detect_text_string_advanced_post_with_http_info(opts)
      data
    end

    # Perform advanced AI phishing detection and classification against input text string.  Analyzes input content as well as embedded URLs with AI deep learnign to detect spam, phishing and other unsafe content.  Uses 25-100 API calls depending on model selected.
    # @param [Hash] opts the optional parameters
    # @option opts [PhishingDetectionAdvancedRequest] :body Phishing detection request
    # @return [Array<(PhishingDetectionAdvancedResponse, Fixnum, Hash)>] PhishingDetectionAdvancedResponse data, response status code and response headers
    def phishing_detect_text_string_advanced_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PhishingDetectionApi.phishing_detect_text_string_advanced_post ...'
      end
      # resource path
      local_var_path = '/phishing/detect/text-string/advanced'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json', 'text/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'application/*+json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'body'])
      auth_names = ['Apikey']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'PhishingDetectionAdvancedResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PhishingDetectionApi#phishing_detect_text_string_advanced_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
